@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* img,
    video {
        @apply max-w-none;
    } */

  h1 {
    @apply text-[1.75rem] xs:text-[2.5rem] sm:text-[3.375rem] font-ultra leading-none uppercase;
  }
  h2 {
    @apply text-[1.25rem] xs:text-[1.5rem] sm:text-[1.75rem] font-ultra leading-none uppercase;
  }
  h3 {
    @apply text-2xl font-montserrat font-bold leading-none;
  }
  h4 {
    @apply text-lg font-montserrat font-bold leading-none;
  }
  h5 {
    @apply text-lg font-montserrat font-semibold leading-none;
  }
}

@layer components {
  .main-wrapper {
    @apply max-w-[1064px] md:px-[32px] mx-auto flex flex-col items-center pt-[75px];
  }
}

/* * {
  border: 1px solid red;
} */
